#  연관 규칙

In [11]:
#!pip install mlxtend

In [12]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [13]:
# transaction
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [14]:
# Occurence Matrix Generation
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
te_ary.shape

(5, 11)

In [15]:
te_ary

array([[False, False, False,  True, False,  True,  True,  True,  True,
        False,  True],
       [False, False,  True,  True, False,  True, False,  True,  True,
        False,  True],
       [ True, False, False,  True, False,  True,  True, False, False,
        False, False],
       [False,  True, False, False, False,  True,  True, False, False,
         True,  True],
       [False,  True, False,  True,  True,  True, False, False,  True,
        False, False]])

In [ ]:
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

In [17]:
# Itemset 생성
frequent_itemsets = apriori(df, min_support=0.6, use_colnames=True)

frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Eggs, Kidney Beans)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Eggs, Kidney Beans, Onion)

In [18]:
from mlxtend.frequent_patterns import association_rules

#  연관 규칙 생성
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
1,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
2,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
3,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
4,(Eggs),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
5,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf

In [19]:
# association rule 생성

rules=association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0
2,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
3,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
7,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6
8,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf
9,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf
10,(Eggs),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6
11,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf

In [20]:
# Filtering using antecedent length 
rules["antecedent_len"] = rules["antecedents"].apply(lambda x: len(x))
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf,1
1,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.80,1.00,0.00,1.0,1
2,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1
3,(Onion),(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,1
4,(Milk),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,1
5,(Onion),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,1
6,(Yogurt),(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,1
7,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,2
8,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,2
9,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.00,1.25,0.12,inf,2
10,(Eggs),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6,1
11,(Onion),"(Eggs, Kidney Beans)",0.6,0.8,0.6,1.00,1.25,0.12,inf,1

In [21]:
# Filtering using multiple criteria
rules[ (rules['antecedent_len'] >= 2) &
       (rules['confidence'] > 0.75) &
       (rules['lift'] > 1.2) ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
9,"(Kidney Beans, Onion)",(Eggs),0.6,0.8,0.6,1.0,1.25,0.12,inf,2

In [ ]:
# Filtering with antecendents 
rules[rules['antecedents'] == {'Eggs', 'Kidney Beans'}]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
7,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,2

In [23]:
# Filtering with antecendents 
rules[rules['antecedents'].apply(lambda x: 'Eggs' in x)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,antecedent_len
0,(Eggs),(Kidney Beans),0.8,1.0,0.8,1.00,1.00,0.00,inf,1
2,(Eggs),(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,1
7,"(Eggs, Kidney Beans)",(Onion),0.8,0.6,0.6,0.75,1.25,0.12,1.6,2
8,"(Eggs, Onion)",(Kidney Beans),0.6,1.0,0.6,1.00,1.00,0.00,inf,2
10,(Eggs),"(Kidney Beans, Onion)",0.8,0.6,0.6,0.75,1.25,0.12,1.6,1

In [29]:
# Rule with max lift
rules.iloc[rules['lift'].idxmax()]

antecedents           (Onion)
consequents            (Eggs)
antecedent support        0.6
consequent support        0.8
support                   0.6
confidence                1.0
lift                     1.25
leverage                 0.12
conviction                inf
antecedent_len              1
Name: 3, dtype: object

In [25]:
rules['lift'].idxmax()

3

In [26]:
rules.loc[rules['lift'].idxmax()]

antecedents           (Onion)
consequents            (Eggs)
antecedent support        0.6
consequent support        0.8
support                   0.6
confidence                1.0
lift                     1.25
leverage                 0.12
conviction                inf
antecedent_len              1
Name: 3, dtype: object

In [27]:
# Top-10 rules in terms of confidence
rules.sort_values('confidence',ascending=False)[['antecedents','consequents','support','confidence','lift']].head(10)

              antecedents           consequents  support  confidence  lift
0                  (Eggs)        (Kidney Beans)      0.8        1.00  1.00
3                 (Onion)                (Eggs)      0.6        1.00  1.25
4                  (Milk)        (Kidney Beans)      0.6        1.00  1.00
5                 (Onion)        (Kidney Beans)      0.6        1.00  1.00
6                (Yogurt)        (Kidney Beans)      0.6        1.00  1.00
8           (Eggs, Onion)        (Kidney Beans)      0.6        1.00  1.00
9   (Kidney Beans, Onion)                (Eggs)      0.6        1.00  1.25
11                (Onion)  (Eggs, Kidney Beans)      0.6        1.00  1.25
1          (Kidney Beans)                (Eggs)      0.8        0.80  1.00
2                  (Eggs)               (Onion)      0.6        0.75  1.25

In [28]:
# Top-10 rules in terms of lift
rules.sort_values('lift',ascending=False)[['antecedents','consequents','support','confidence','lift']].head(10)

              antecedents            consequents  support  confidence  lift
3                 (Onion)                 (Eggs)      0.6        1.00  1.25
9   (Kidney Beans, Onion)                 (Eggs)      0.6        1.00  1.25
11                (Onion)   (Eggs, Kidney Beans)      0.6        1.00  1.25
2                  (Eggs)                (Onion)      0.6        0.75  1.25
7    (Eggs, Kidney Beans)                (Onion)      0.6        0.75  1.25
10                 (Eggs)  (Kidney Beans, Onion)      0.6        0.75  1.25
0                  (Eggs)         (Kidney Beans)      0.8        1.00  1.00
1          (Kidney Beans)                 (Eggs)      0.8        0.80  1.00
4                  (Milk)         (Kidney Beans)      0.6        1.00  1.00
5                 (Onion)         (Kidney Beans)      0.6        1.00  1.00